[Unit]
Description=Start/Restart Simple Entropy feeder service

[Timer]
Unit=simpleentropyfeeder.service
OnBootSec=1
OnUnitInactiveSec=1

[Install]
WantedBy=timers.target